@import "../../App.scss";

.porfolio {
  padding-bottom: 5%;

  .containers {
    .heading {
      h1 {
        color: $white;
        @include title(3rem);
        display: inline-block;
        padding: 0 2rem;
      }
    }

    .listBox {
      @include grid(22rem);
      gap: 1.5rem;
    }
  }
}
